@import './base.css';

:root {
  --header-height: 64px;
}

h3 {
  text-decoration: underline;
  font-style: italic;
}

body {
  background-color: var(--color-background);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    min-height: inherit;
    width: 100%;
  }

  table {
    width: 100%;
  }
}
